@import "tailwindcss";

@theme{
    --color-websec: #283E4E;
}
@theme{
    --color-textcolor: #162A35;
}

@keyframes blink {
  50% { opacity: 0; }
}

.animate-blink {
  display: inline-block;
  animation: blink 0.7s infinite;
}

